@using BaklanWeb.Helper;
@model IEnumerable<BaklanWeb.Models.Model.DevamEdenProjeler>

@{
    ViewBag.Title = "DevamEdenProjelerPartial";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<div id="banner-area" class="banner-area" style="background-image:url(/Content/constra-1.0.0/images/banner/banner1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">DevamEdenProjeler</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/DevamEdenProjeler/">DevamEdenProjeler</a></li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div>

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @{
                    Html.RenderAction("DevamEdenProjelerKategori", "Home");
                }
                <div class="row shuffle-wrapper">
                    <div class="col-1 shuffle-sizer"></div>
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 shuffle-item">

                            <div class="project-img-container">
                                <a class="gallery-popup" href="@item.DevamEdenProjelerResimURL">
                                    <img class="img-fluid" src="@item.DevamEdenProjelerResimURL" alt="@item.DevamEdenProjelerBaslik">

                                    <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                                </a>
                                <div class="project-item-info">
                                    <div class="project-item-info-content">
                                        <h3 class="project-item-title">
                                            <a href="">@item.DevamEdenProjelerBaslik</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


