@model BaklanWeb.Models.Model.Egitim

@{
    ViewBag.Title = "Egitim";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="container">
    <div class="col-md-12">

        <img src="~/Content/SiteLayout/img/dummies/dummy-1.jpg" alt="" class="align-center img-box img-responsive" />
        <p>
            @Html.Raw(Model.EgitimAciklama)
        </p>
    </div>
</div>