
@{

    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Anasayfa";
}


@{
    Html.RenderAction("SliderPartial", "Home");
}

@{
    Html.RenderAction("HaberlerPartial", "Home");
}


<section id="ts-service-area" class="ts-service-area pb-0">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">

                <h3 class="section-sub-title">Baklan Belediyesi</h3>

            </div>
        </div>
        <!--/ Title row end -->
        <div class="row">
            <div class="col-lg-4">
                <h4>Tamamlanan Projeler</h4><br>
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">

                        <img loading="lazy" src="/Content/constra-1.0.0/images/icon-image/service-icon1.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Ziraat Odasının Geri Kazanımı</a></h3>
                    </div>
                </div><!-- Service 1 end -->
                <br>
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="/Content/constra-1.0.0/images/icon-image/service-icon2.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Metruk Yapıların Kaldırılması</a></h3>
                    </div>
                </div><!-- Service 2 end -->
                <br>
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="/Content/constra-1.0.0/images/icon-image/service-icon3.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Islah Çalışmaları</a></h3>
                    </div>
                </div><!-- Service 3 end -->
                <br>
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="/Content/constra-1.0.0/images/icon-image/service-icon1.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Park Projeleri</a></h3>
                    </div>

                </div>
                <br>
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="/Content/constra-1.0.0/images/icon-image/service-icon2.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Tarihi Miraslarımız ve Camilerimizin Periyodik Bakımları</a></h3>
                    </div>

                </div>

                <a href="/Home/FotoGaleri/" class="slider btn btn-primary">Devamını Görüntüle</a>

            </div><!-- Col end -->
            <div class="col-lg-4 text-center">
                <img loading="lazy" class="img-fluid" src="/Content/constra-1.0.0/images/services/service-center.jpg" alt="service-avater-image">
            </div><!-- Col end -->
            <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
                <h4>Devam Eden Projeler</h4><br>

                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="/Content/constra-1.0.0/images/icon-image/service-icon4.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">

                        <h3 class="service-box-title"><a href="#">Karakol İnşaatı</a></h3>
                    </div>
                </div><!-- Service 4 end -->
                <br>
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="/Content/constra-1.0.0/images/icon-image/service-icon5.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Alt Yapı ve Sondaj Çalışmaları</a></h3>
                    </div>
                </div><!-- Service 5 end -->
                <br>
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="/Content/constra-1.0.0/images/icon-image/service-icon6.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Baklan Beşparmak Dağları Eteklerine Mesirelik Alan</a></h3>

                    </div>
                </div><!-- Service 6 end -->
                <br>
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="/Content/constra-1.0.0/images/icon-image/service-icon4.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">I.Etap Toki Çalışmaları</a></h3>

                    </div>
                </div>
                <br>
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="/Content/constra-1.0.0/images/icon-image/service-icon5.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 class="service-box-title"><a href="#">Yerel Ürünlerinin Pazarlanmasına Yönelik Tesis Yapımı</a></h3>

                    </div>
                </div>
                <a href="/Home/FotoGaleri/" class="slider btn btn-primary">Devamını Görüntüle</a>

            </div><!-- Col end -->
        </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
</section>



@{
    Html.RenderAction("DuyurularPartial", "Home");
}

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h3 class="section-sub-title">İLETİŞİM</h3>

            </div>
        </div>
        <!--/ Title row end -->
        <div class="row">
            <div class="col-md-4">
                <div class="ts-service-box-bg text-center h-100">
                    <span class="ts-service-icon icon-round">
                        <i class="fas fa-map-marker-alt mr-0"></i>
                    </span>
                    <div class="ts-service-box-content">
                        <h4>ADRES</h4>
                        <p>
                            Baklan Belediyesi<br>
                            Gökpınar Mahallesi<br>
                            Şehit Uzman Çavuş Arif Karaobalı Caddesi No:50<br>
                            DENİZLİ/TR
                        </p>
                    </div>
                </div>
            </div><!-- Col 1 end -->
            <div class="col-md-4">
                <div class="ts-service-box-bg text-center h-100">
                    <span class="ts-service-icon icon-round">
                        <i class="fa fa-envelope mr-0"></i>
                    </span>
                    <div class="ts-service-box-content">
                        <h4>MAİL</h4>
                        <p>
                            Belediye mail adresi : baklan@baklan.bel.tr<br>

                            Muhasebe : muhasebe@baklan.bel.tr<br>
                            Yazı işleri : yaziisleri@baklan.bel.tr<br>

                            Fen işleri : fenisleri@baklan.bel.tr<br>

                            Harita Kadastro : haritakadastro@baklan.bel.tr<br>

                            Akaryakıt Şirketi : akaryakit@baklan.bel.tr
                        </p>
                    </div>
                </div>
            </div><!-- Col 2 end -->
            <div class="col-md-4">
                <div class="ts-service-box-bg text-center h-100">
                    <span class="ts-service-icon icon-round">
                        <i class="fa fa-phone-square mr-0"></i>
                    </span>
                    <div class="ts-service-box-content">
                        <h4>TELEFON</h4>
                        <p>
                            +90 258 781 2004<br>
                            +90 258 781 2010<br>
                            Faks : +90 258 781 2260

                        </p>
                    </div>
                </div>
            </div><!-- Col 3 end -->
        </div><!-- 1st row end -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="column-title"><br>  Bize ulaşmak için lütfen formu doldurunuz.</h3>
                @if (ViewBag.Uyari == "Mesajınız başarı ile gönderilmiştir.")
                {
                    <div class="alert alert-info">@ViewBag.Uyari</div>
                }
                <form class="contact-form" action="/Home/Iletisim/" method="post" role="form">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <input class="form-control form-control-name" name="adsoyad" id="name" placeholder="Adınız Soyadınız" type="text" data-rule="minlen:4" data-msg="Lütfen en az 4 karekter giriniz" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <input class="form-control form-control-email" name="email" id="email" placeholder="Email Adresiniz" data-rule="email" type="email" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control form-control-subject" name="konu" id="subject" placeholder="Mesaj Başlığı" data-rule="minlen:4" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control " name="mesaj" id="message" placeholder="Mesajınız" rows="5"
                                  data-rule="required" required></textarea>
                    </div>
                    <div class="text-right">
                        <br>
                        <button class="btn btn-primary solid blank" type="submit">Gönder</button>
                    </div>
                </form>
            </div>
        </div><!-- Content row -->
        <div class="row text-center">
            <div class="col-12">
                <h3 class="section-sub-title">Ulaşım</h3>

            </div>
        </div>

        <div class="gap-60"></div>
        <div class="google-map">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1169.574275635222!2d29.606180629075002!3d37.976791888849355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c73fae7e0d030d%3A0xa6c5faeede7d0bc7!2sBaklan%20Belediyesi!5e0!3m2!1str!2str!4v1672674177755!5m2!1str!2str" width="1200" height="450" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="gap-40"></div>
    </div><!-- Conatiner end -->
</section>