@model BaklanWeb.Models.Model.Nüfusu

@{
    ViewBag.Title = "Nüfusu";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<div class="container">
    <div class="col-md-12">

        <img src="~/Content/SiteLayout/img/dummies/dummy-1.jpg" alt="" class="align-center img-box img-responsive" />
        <p>
            @Html.Raw(Model.NüfusuAciklama)
        </p>
    </div>
</div>
