@model IEnumerable<BaklanWeb.Models.Model.Slider>

@{
    Layout = null;
}
<div class="banner-carousel banner-carousel-1 mb-0">
    @foreach (var item in Model)
    {
        <div class="banner-carousel-item" style="background-image:url(/Content/constra-1.0.0/images/slider-main/bg4.jpg)">
            <div class="slider-content text-left">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-md-12">
                            <h2 class="slide-title-box" data-animation-in="slideInDown">BAKLAN BELEDİYESİ</h2>
                            <h3 class="slide-title" data-animation-in="fadeIn"></h3>
                            <h3 class="slide-sub-title" data-animation-in="slideInLeft">Hoşgeldiniz</h3>
                            <p data-animation-in="slideInRight">
                                <a href="/Haberler" class="slider btn btn-primary">Haberler</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-carousel-item" style="background-image:url(/Content/constra-1.0.0/images/slider-main/bg5.jpg)">
            <div class="slider-content text-left">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-md-12">
                            <h2 class="slide-title-box" data-animation-in="slideInDown">BAKLAN BELEDİYESİ</h2>
                            <h3 class="slide-title" data-animation-in="fadeIn"></h3>
                            <h3 class="slide-sub-title" data-animation-in="slideInLeft">Hoşgeldiniz</h3>
                            <p data-animation-in="slideInRight">
                                <a href="/Haberler" class="slider btn btn-primary">Haberler</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-carousel-item" style="background-image:url(/Content/constra-1.0.0/images/slider-main/14.jpg)">
            <div class="slider-content text-left">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-md-12">
                            <h2 class="slide-title-box" data-animation-in="slideInDown">BAKLAN BELEDİYESİ</h2>
                            <h3 class="slide-title" data-animation-in="fadeIn"></h3>
                            <h3 class="slide-sub-title" data-animation-in="slideInLeft">Hoşgeldiniz</h3>
                            <p data-animation-in="slideInRight">
                                <a href="/Haberler" class="slider btn btn-primary">Haberler</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-carousel-item" style="background-image:url(/Content/constra-1.0.0/images/slider-main/12.png)">
            <div class="slider-content text-left">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-md-12">
                            <h2 class="slide-title-box" data-animation-in="slideInDown">BAKLAN BELEDİYESİ</h2>
                            <h3 class="slide-title" data-animation-in="fadeIn"></h3>
                            <h3 class="slide-sub-title" data-animation-in="slideInLeft">Hoşgeldiniz</h3>
                            <p data-animation-in="slideInRight">
                                <a href="/Haberler" class="slider btn btn-primary">Haberler</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-carousel-item" style="background-image:url(/Content/constra-1.0.0/images/slider-main/13.png)">
            <div class="slider-content text-left">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-md-12">
                            <h2 class="slide-title-box" data-animation-in="slideInDown">BAKLAN BELEDİYESİ</h2>
                            <h3 class="slide-title" data-animation-in="fadeIn"></h3>
                            <h3 class="slide-sub-title" data-animation-in="slideInLeft">Hoşgeldiniz</h3>
                            <p data-animation-in="slideInRight">
                                <a href="/Haberler" class="slider btn btn-primary">Haberler</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
